<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Edit Camp</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" novalidate class="validated-form">

            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required value="<%= campground.title %> ">
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required value="<%= campground.location %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required value="<%= campground.image %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-lable">$</span>
                <input type="text" class="form-control" placeholder="0.00" required name="campground[price] id="price" aria-label="price" aria-describedby="price-lable" value="<%= campground.price %>">
              </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" required name="campground[description]"> <%= campground.description%></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Update Camps</button>
            </div>
            
        </form>
        <a href="/campgrounds">Back</a>
    </div>
</div>