<% layout('layouts/boilerplate') %> 
    <h1>Welcome to camp</h1>
    <a href="/campgrounds/new">Add more</a>
    
        <% for(let campground  of campgrounds) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%= campground.image %> "  alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %> 
                            </h5>
                            <p class="card-title">
                                <%= campground.description %> 
                            </p>
                            <p class="card-text">
                                 <small class="text-mudet"><%= campground.location %> </small>
                            </p>
                            <a href="/campgrounds/<%= campground._id%> " class="btn btn-primary">View Camp</a>
                        </div>
                    </div>
                </div>
            </div>
          
            <% } %>  
    